html {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0.2px;

  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-doc {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;

  /* border: 2px solid bisque; */
}

/* Sidebar */
#navbar {
  width: 280px;
  height: 100vh;
  padding: 32px 0 24px 0;

  position: fixed;
  overflow: auto;
}

#navbar header h3 {
  font-size: 1.25rem;
  font-weight: 500;
  padding: 0 0 24px 16px;
}

#navbar ul {
  list-style: none;
}

#navbar ul li a {
  text-decoration: none;
  display: block;
  padding: 8px 0 8px 16px;

  font-size: 0.8rem;
  color: #000;
}
#navbar ul li a:hover {
  background-color: #ccc;
}

#navbar ul li a.not-active {
  text-decoration: line-through;
  color: red;
}

/* Section Content */
.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding: 40px 16px 40px 344px;
}

.main-section {
  padding: 32px 0 0 0;
}

.main-section header h1 {
  font-size: 2.441rem;
  font-weight: 500;
}

.main-section header h2 {
  font-size: 1.953rem;
  font-weight: 400;
}

p {
  line-height: 1.6;
}
h3 {
  font-weight: normal;
}

/* margin, padding, display: block;, color: white;*/
.mt-24 {
  margin-top: 24px;
}
.mt-8 {
  margin-top: 8px;
}
.pl-24 {
  padding-left: 24px;
}
.pl-32 {
  padding-left: 32px;
}
.ptlr-24 {
  padding: 24px 24px 0 24px;
}
.pb-72 {
  padding-bottom: 72px;
}
.dblock {
  display: block;
}
#color-white {
  color: #f0f0f0;
}

.main-section .rect {
  background-color: #f9f9fb;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  border: 1px solid #ccc;

  border-radius: 4px;
  padding: 24px;
}

button {
  padding: 16px 32px;
  border-radius: 100px;
  background-color: #40a2e3;

  border: none;
  cursor: pointer;
}
button a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 1rem;

  font-weight: 500;
}
button:hover {
  background-color: #2f7aac;
}

/* Section - CSS Examples */
.code-container {
  width: 100%;
  background-color: #222;
  border-radius: 4px;

  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
}

.code-container code {
  display: block;
  color: #1fcf19;
}

/* Section - Lists*/
#ul-lists {
  margin-left: 24px;
}
#ul-lists ul {
  margin-left: 20px;
}
#ul-lists li:not(.first-li) {
  margin-top: 16px;
}

/* Last p element */
.last-p {
  text-align: center;
  margin-top: 40px;
}

/* @media */
@media (max-width: 768px) {
  html {
    font-size: 16px;
  }

  main {
    flex-direction: column;
  }

  #navbar {
    width: 100%;
    height: 25vh;
    background-color: #e4e4e4;

    border: 2px solid #222;
    text-align: center;
    position: static;

    padding-bottom: 0;
  }
  #navbar li:not(:last-child) a {
    border-bottom: 1px solid #222;
  }
  #navbar header h3 {
    font-size: 22.5px;
  }

  .main-content {
    padding: 20px 24px 40px 24px;
  }
}
